<form>
  <div class="form-group">
    <label for="collectionName">Collection</label>
    {{input value=collectionName id="collectionName" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="collectionCategory">Collection Category</label>
    {{view "select" content="categories"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
