<div class="container">
  <h1>Raamro Chha</h1>
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'home'}}Home{{/link-to}}</li>
      <li>{{#link-to 'lots'}}Lots{{/link-to}}</li>
      <!-- <li>{{#link-to 'home'}}Contact{{/link-to}}</li> -->
      <li>{{#link-to 'new-lot'}}Add Lots{{/link-to}}</li>
    </ul>
  </nav>
  {{outlet}}
</div>
