
<h2>Modern Art Auction</h2>
<h3>Put Images Here</h3>
<div class="container imageContainer">
  <ul class="row imageRow">
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs 4"><img src="css/img/klimt.jpg"></li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs 4"><img src="css/img/sculpture1.jpg"></li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs 4"><img src="css/img/munch.jpg"></li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs 4"><img src="css/img/crop.jpg"></li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs 4"><img src="css/img/bronzefinger.jpg"></li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs 4"><img src="css/img/cups.jpg"></li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs 4"><img src="css/img/elephantsculpture.jpg"></li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs 4"><img src="css/img/hunterwasser.jpg"></li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs 4"><img src="css/img/klimt2.jpg"></li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs 4"><img src="css/img/modern-artwork.jpg"></li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs 4"><img src="css/img/modern.jpg"></li>
    <li class="col-lg-3 col-md-3 col-sm-3 col-xs 4"><img src="css/img/photo.jpg"></li>
  </ul>
</div>
