
<h2>Modern Art Auction</h2>
<h3>Put Images Here</h3>

      <img src="css/img/klimt.jpg">

      <img src="css/img/sculpture1.jpg">

      <img src="css/img/munch.jpg">

      <img src="css/img/crop.jpg">
      <img src="css/img/bronzefinger.jpg">
      <img src="css/img/cups.jpg">
      <img src="css/img/elephantsculpture.jpg">
      <img src="css/img/hunterwasser.jpg">
      <img src="css/img/klimt2.jpg">
      <img src="css/img/modern-artwork.jpg">
      <img src="css/img/modern.jpg">
      <img src="css/img/photo.jpg">
