<form>
  <div class="form-group">
    <label for="lotName">Add a Lot To The Modern Art Auction</label>
    {{input value=lotName id="lotName" class="form-control"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
