<form>
  <div class="form-group">
    <label for="name">Add a Lot To The Modern Art Auction</label>
    {{input value=name id="name" class="form-control"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
